@use "../abstracts/" as *;
@use "sass:math";

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  z-index: -1;
  transform-style: preserve-3d;
  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-transform: translateZ(-20px) scale(2.5);
    transform: translateZ(-20px) scale(2.5);
  }
  &__heading {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(
      rgba($color-dark-blue, 0.5),
      rgba($color-dark-blue, 0.5)
    );
  }
  &__logos {
    position: absolute;
    object-fit: cover;
    bottom: 0%;
    margin: 0 auto;
    filter: brightness(100);
    -webkit-transform: translateZ(-5px) scale(1.5);
    transform: translateZ(-5px) scale(1.5);
    @include screenSize(laptop) {
      transform: translateZ(-5px) scale(1.4);
    }
    @include screenSize(phone) {
      -webkit-transform: translateZ(-5px) scale(1.2);
      transform: translateZ(-5px) scale(1.2);
    }
  }
}
